{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-console": 2,
    "comma-dangle": ["error", "always-multiline"],
    "quotes": ["error", "single"]
  },
  "ignorePatterns": ["**/node_modules", "**/build", "**/jest.config.js", "**/*.test.ts"]
}